{
  "openapi": "3.1.0",
  "info": {
    "title": "Bestseller Scribe Ai Pro API",
    "version": "1.0.0",
    "description": "Live endpoints for generating book outlines and drafting chapters using OpenAI via Pabbly."
  },
  "paths": {
    "/generate-outline": {
      "post": {
        "operationId": "generateOutline",
        "summary": "Generate a chapter-by-chapter outline",
        "servers": [
          {
            "url": "https://connect.pabbly.com/workflow/sendwebhookdata/IjU3NjYwNTZiMDYzMzA0MzA1MjZmNTUzMzUxMzci_pc"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "book_title": {
                    "type": "string"
                  },
                  "topic": {
                    "type": "string"
                  }
                },
                "required": ["book_title", "topic"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI-generated outline",
            "content": {
              "application/json": {
                "example": {
                  "outline": [
                    "Chapter 1: The Myth of Overnight Success",
                    "Chapter 2: Building with Consistency",
                    "Chapter 3: Authority Through Storytelling"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/draft-chapter": {
      "post": {
        "operationId": "draftChapter",
        "summary": "Generate a first-draft chapter from a title and summary prompt",
        "servers": [
          {
            "url": "https://connect.pabbly.com/workflow/sendwebhookdata/IjU3NjYwNTZiMDYzMzA0MzA1MjY0NTUzNTUxMzIi_pc"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chapter_title": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  }
                },
                "required": ["chapter_title", "prompt"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "First draft chapter content",
            "content": {
              "application/json": {
                "example": {
                  "chapter": "This chapter explores the myth of overnight success by dissecting common entrepreneurial narratives..."
                }
              }
            }
          }
        }
      }
    }
  }
}
